@import url(https://fonts.bunny.net/css?family=amita:700);

body {
    background: url(https://i.ibb.co/qJ2SGVZ/four-friends-group-of-feminist-women-have-protest-2023-11-27-05-28-39-utc-1.jpg)
        center center/cover no-repeat;
    min-height: 100vh;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #fefae0;
    font-family: Amita;
    margin: 20px auto;
    width: 450px;
    font-size: 3rem;
    text-align: center;
    border-bottom: 10px double #bc6c25;
}

img {
    width: 450px;
    height: 300px;
    margin: 10px;
    border: 10px solid #fefae0;
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
    transition-duration: 1s;
}

img:hover {
    border: 5px solid #fff;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: none;
    filter: none;
}

footer {
    background-color: #bc6c25;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    text-align: center;
    width: 100%;
}
footer a {
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    font-size: 1.5rem;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
